<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Collections</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <h1>Explore Our Collections</h1>
    </header>

    <main class="collection-center">
      <a href="mens.html" class="collection-item">
        <img src="./images/product-men.jpg" alt="Men's Collection" />
        <span>Men's Section</span>
      </a>

      <a href="womens.html" class="collection-item">
        <img src="./images/download.jpeg" alt="Women's Collection" />
        <span>Women's Section</span>
      </a>
    </main>
  </body>
</html>
