<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Men's Collection</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <h1>Men's Collection</h1>
      <a href="home.html">← Back to Collections</a>
    </header>

    <main class="category-list">
      <a href="#" class="category-card"
        ><img src="./images/menshoes.jpeg" alt="Men's Shoes"
      /></a>
      <a href="#" class="category-card"
        ><img src="./images/menpants.jpeg" alt="Men's Pants"
      /></a>
      <a href="#" class="category-card"
        ><img src="./images/menshirt.jpeg" alt="Men's Collection"
      /></a>
      <a href="#" class="category-card"
        ><img src="./images/menaccess.jpeg" alt="Men's Collection"
      /></a>
    </main>
  </body>
</html>
